<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task</title>
</head>

<body>
    <!-- loop through the task in tasks -->
    {% for task in tasks %}
    <!-- displays the names in tasks-->
    {{task.category_name}}
    {{task.task_name}}
    {{task.task_description}}
    {{task.is_urgent}}
    {{task.due-date}}
    {% endfor %}
</body>

</html>
